/* Estilos generales */
body {
    background-color: #f7f7f7;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Área de juego */
#pantalla {
    width: 600px;
    height: 200px;
    background-color: white;
    border-bottom: 2px solid #535353;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}

/* El personaje */
#persona {
    width: 40px;
    height: 40px;
    font-size: 35px;
    position: absolute;
    bottom: 0;
    left: 50px;
}

/* El obstáculo */
#espada {
    width: 30px;
    height: 30px;
    font-size: 25px;
    position: absolute;
    bottom: 0;
    left: 650px; 
    animation: moverEspada 1.5s infinite linear;
}

/* Animación de la espada */
@keyframes moverEspada {
    from { left: 600px; }
    to { left: -30px; }
}

/* Clase de salto */
.animar-salto {
    animation: salto 0.5s ease-out;
}

/* Movimiento del salto */
@keyframes salto {
    0% { bottom: 0; }
    50% { bottom: 100px; }
    100% { bottom: 0; }
}